*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{
    max-width: 100%;
    height:600px;
    padding-top: 10px;
    
    
}


.content{
    background-color: hsl(36, 100%, 99%);
    padding:0 5%;
}

#menu_btn{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    margin-right: 10px;
   visibility:hidden;
}

.menu{
    height: 40px;
    display: flex;
    
}

ul,li{
    list-style: none;
}

ul{

    display: flex;
    margin-top: 10px;
    column-gap:15px;
    float: right;
}

.logo{
    width:40px;
    height:60%;
}
.menu_content{

    width: 80%;
    height: 100%;
    padding: 0;
    font-weight: bold;
    color:hsl(236, 13%, 42%);

}
img{
    width: 100%;
    height: 100%;
}
.top_area{
    display: flex;
    column-gap: 20px;
    height: 250px;
}
.top_image{
    width: 100%;
    height:50%;
}

.info_box{
    width: 30%;
   background-color: hsl(240, 100%, 5%);
    height:100%
}
.new_info_content{
    color:aliceblue;
    font-size:1vw;
    height: 26%;
    margin-top:2vw;

}
.new_info{
    padding:10px;
    padding-top: 0;
    height: 80%;
    padding-bottom: 0;
}

.middle_area{
    display: block;
    height: 100%;
    width: 70%;
    position: relative;
}

.middle{
    margin-top: 10px;
    height: 40%;
    width: 100%;
    display: flex;
    column-gap: 30px;
}




.in_middle_head_box{
 max-width: 30%;
 height:80%;
 margin-top:5%;
}
.middle_head_text{
    font-weight: bold;
    font-size:1.3vw;

}

.in_middle_paragraph_box{
    position: relative;
    width: 70%;
}

p{
    padding-top: 5px;
    font-size: 1vw;
}


.middle_paragraph_text{
    color:hsl(236, 13%, 42%);
    font-size: 80%;
    width: 100%;
    padding: 10px;
    height: 50%;
    padding-left: 20%;
    padding-top: 10%;
}
.middle_button{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}



.more{
    background-color: hsl(5, 85%, 63%);
    color: white;
    border: none;
    height: 25px;
    width:30%;
    
}


.bottom{
    margin-top: 20px;
    height:70px;
    display: flex;
    width: 100%;
    
    
}
.bottom_img{
    width:30%;
    height:100%;
}
.bottom_text{
    width:60%;
    height: 100%;
    padding: 5px;
    padding-top: 0;
    padding-left: 10px;
    overflow: hidden;


}
.one,.two,.three{
    position: relative;
    width: 33%;
    display: flex;
    column-gap: 10px;
}
.head_one{
    color: grey;
    font-size: 3vw;
    font-weight: bold;
    
}

.head_two{
    font-weight: bold;
    font-size: 1.2vw;
}

.text_three{
    font-size: 1vw;
    color: grey;
}

@media screen and (max-width:600px){
  
    .middle_area{
        width: 70%;

    }

    .middle_head_text{
        font-size:1vw;
    }
    .in_middle_head_box{
        width: 20%;
    }
    .top_area{
        height: 180px;
    }
    .top_right{
        width: 30%;
    }
    .menu_content{
        font-size:1.8vw;
        padding-right: 10px;
    }
    
    .bottom{
        height: 50px;
    }
    .head_one{
        color: grey;
        font-size: 2vw;
    }
    .head_two{
        font-size: 1.1vw;
    }
    .more{
        width: 50%;
        height: 20px;
        font-size: 10px;
    }
}

@media screen and (min-width:800px){
    .top_area{
        height: 400px;
    }
    
    .middle_area{
        width: 70%;
    }
    .in_middle_left{
        font-size: 3vw;
    }
    .in_middle_right{
        font-weight: bold;
    }
    .top_right{
        width: 30%;
        }
}